* {
    font-family: Arial
}

.wd-row {
    border: 1px solid #2f3336;
    margin: 0px;
}

.wd-row-item {
    margin: 16px;
}

.wd-search-input {
    border: none;
    background: darkgray;
    width: 90%;
    height: 20px;
    border-radius: 10px;
    text-indent: 30px;
    color: white;
    z-index: 1;
}

::placeholder {
    color: gray;
}

.wd-search-icon {
    height: 24px;
    width: 24px;
    z-index: 2;
}

.wd-selected-link {
    color: #1da1f2;
    border-bottom: 3px solid #1da1f2;
}

p.wd-subtext {
    margin-bottom: 2px;
    margin-top: 2px;
    color: #6e767d;
    font-size: 13px;
}

p.wd-title-text {
    margin-bottom: 2px;
    margin-top: 2px;
    color: #ffffff;
    font-size: 15px;
}

p.wd-account-name {
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
}

p.wd-content-text {
    margin-bottom: 2px;
    margin-top: 2px;
    color: #ffffff;
    font-size: 15px;
}

p.wd-inline-padded {
    padding-left: 4px;
}

.wd-inline-text {
    display: inline-flex;
    justify-content: space-between;
}

.wd-float-right {
    float: right;
}

.wd-float-done {
    clear: both;
}


.wd-tuit-image {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 10px;

}

.wd-icon {
    width: 10px;
    height: 10px;
}

body {
    background: #000000;
}

hr {
    border: 1px solid #777777;
}

a {
    text-decoration: none;
    color: #6e767d;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 15px;
}
